<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <form class="md-float-material form-material" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img src="assets/images/logo.png" alt="logo.png">
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center">Sign In</h3>
                </div>
              </div>
              <div class="form-group form-primary">
                <input type="text" class="form-control" formControlName = "email" required="">                
                <span class="form-bar"></span>
                <label class="float-label">Your Email Address</label>
                <div *ngIf="submitted && f.email.errors">
                  <div class="messages text-danger" *ngIf="f.email.errors?.required || f.email.errors?.email">Email is required.</div>                  
                </div>
              </div>
              <div class="form-group form-primary">
                <input type="password" name="password" class="form-control" formControlName="password" required="">                
                <span class="form-bar"></span>
                <label class="float-label">Password</label>
                <div *ngIf = "submitted && f.password.errors">
                  <div class="messages text-danger" *ngIf="f.password.errors?.required">Password is required.</div>
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600"> Forgot Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                    <div class="messages text-danger">{{error.error}}</div>
                    <br>
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple">Sign in</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Create new account?</p>
                  <p class="text-inverse text-left"><a [routerLink]="['/auth/registration']"><b>to Sign Up</b></a></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- end of form -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
